# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Virtual environments
# ===============================
venv/
env/
.venv/

# ===============================
# Jupyter Notebook
# ===============================
.ipynb_checkpoints/

# ===============================
# Environment variables
# ===============================
.env

# ===============================
# IDE / editors
# ===============================
.vscode/
.idea/
*.swp

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Outputs (opcional)
# ===============================
*.csv
*.xlsx
output/